# https://github.com/jazzband/pip-tools
# constrain the dev requirements to packages already selected for production in requirements.txt
-c requirements.txt

# Pylint is a Python static code analysis tool which looks for programming errors, helps enforcing a coding standard, sniffs for code smells and offers simple refactoring suggestions
pylint
# Black is the uncompromising Python code formatter
black
# Remove unused imports and unused variables from Python code
autoflake
# Sort imports alphabetically, and automatically separate into sections and by type
isort
# Mypy is an optional static type checker for Python that aims to combine the benefits of dynamic (or "duck") typing and static typing
mypy
# Security oriented static analyser for python code
bandit
# Complexity analysis
radon

# Flake8
flake8
flake8-flask
flake8-blind-except
flake8-breakpoint
flake8-builtins
flake8-comprehensions
flake8-eradicate
flake8-logging-format
flake8-print
flake8-pytest
flake8-pytest-style
flake8-return
pep8-naming

# A framework for managing and maintaining multi-language pre-commit hooks
pre-commit

# The pytest framework makes it easy to write small tests, yet scales to support complex functional testing for applications and libraries.
pytest

# This plugin produces coverage reports. Compared to just using coverage run, this plugin does some extras
pytest-cov

# bump software releases
tbump

# used in preference script
inquirer
pyyaml
